@use "../../Styles/variables";
form {
  display: block;
  background-color: variables.$white;
  padding: 15px;
  border-radius: 10px;
  label {
    margin-right: 5px;
    // display: block;
  }
  input {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: variables.$light-gray;
    &:focus {
      outline: none;
    }
  }
  p {
    margin-top: -5px;
    font-size: 15px;
    color: variables.$danger-clr;
  }
  button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  select{
    border: 1px solid rgba(128, 128, 128, 0.575);
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    &:focus{
      outline: none;
    }
  }
}